/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	line-height: 1.6;
	color: #484238;
}

p {
	font-size: 1em;
	/*margin-bottom: 1.8em;*/
}

h2,
h3,
a {
	color: #00001C;
}

h2,
h3 {
	font-family: 'Domine', serif;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header,
.main-footer {
	text-align: center;
	background-color: #FAFAFA;
}

.main-header h1 {
	font-family: 'Domine', serif;
	padding-top: .5em;
	font-size: 2em;
}

.main-nav li {
	background-color: #fff;
	padding: .5em 2em;
	margin: .5em auto;
	width: 90%;
	font-family: 'Domine', serif;
}

.name,
.main-nav li a {
	color: #4A4A4A;
	font-weight: 700;
}

.main-nav li a {
	text-transform: uppercase;
}




/* ---- Layout Containers ---- */


.wrapper {
	width: 90%;
	margin: 0 auto;
}

.col,
.col-2 {
	text-align: center;
}





/* ---- Page Elements ---- */

h3,
.skills ul li {
	font-size: 1.25em;
}

nav a:hover,
.mini-nav a:hover {
	color: #F39355;
}

.profile {
	width: 60%;
	padding-top: 2.5em;
	padding-bottom: .5em;
}

.intro p {
	padding: 1em .5em 2.5em;
	margin: 0 auto;
	width: 80%;
}

.portfolio h2 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

.col h3 {
	padding-top: 1em;
	padding-bottom: .5em;
}
.col p {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2em;
}

.col .last {
	margin-bottom: 2em;
}

.skills h2 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 2.5em;
}

.skills ul li {
	color: #00001C;
	font-family: 'Domine', serif;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.col-2 img {
	width: 256px;
	height: 256px;
}

.main-footer h3 {
	text-transform: uppercase;
	padding-top: 3em;
	padding-bottom: 1em;
}

.main-footer p {
	width: 80%;
	margin: 0 auto 1.5em;
}

span.contact {
	display: block;
}

span.contact:nth-of-type(2) {
	padding-bottom: 3.5em;
	
}

span.contact a {
	color: #484238;
	font-weight: 700;
}

.mini-footer {
	border-top: 1px solid grey;
}

.mini-footer span {
	padding-top: 2em;
	padding-bottom: 1em;
	font-weight: 700;
}

.mini-footer a {
	font-family: 'Domine', serif;
	color: #484238;
}

div.mini-footer span:nth-of-type(1) {
	float: left;
}
div.mini-footer span:nth-of-type(2) {
	float: right;
	text-transform: uppercase;
}

.mini-nav {
	display: none;
	font-family: 'Domine', serif;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

/* ---- Navigation ---- */


.main-header h1 {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.main-nav {
	padding-bottom: 2em;
}

.main-nav li {
	display: inline-block;
	padding: .5em 2em;
	margin: .5em auto;
	background-color: #FAFAFA;
	width: 20%;
}

/* ---- Page Elements ---- */

.intro {
	padding-bottom: 3.5em;
}

.container-text p {
	padding: 0 .25em 0 .5em;
	text-align: left;
}

.profile {
	width: 80%;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 1em;
	padding-right: 1.25em;
	
}

.skills h2 {
	margin-bottom: 1.5em;
}

.col-2 img {
	width: 192px;
	height: 192px;
	display: block;
	margin: 0 auto;
}

.skills ul li {
	width: 50%;
	margin: 2em auto;
}

.main-footer p {
	width: 60%;
}

.mini-footer span {
	padding-top: 1.25em;
	padding-bottom: 4em;
}

div.mini-footer span:nth-of-type(2) {
	display: none;
}

.mini-nav {
	display: inline-block;
	text-transform: uppercase;
	float: right;
	
}

.mini-nav li  {
	float: left;
	font-weight: 700;
	padding: 1.25em 1em 4em 1em;
}



/* ---- Layout Containers ---- */

.container {
	/*width: 327px
	height: 225px;*/
	float: right;
	width: 50%;
}

.container-text {
	width: 50%;
	float: left;
}

.col {
	width: 50%;
}

.col-2 {
	width: 50%;
	text-align: center;
	float: left;
}


.wrapper {
	width: 90%
}

.left {
	float: left;
	padding-right: .25em;
}

.right {
	float: right;
	padding-left: .25em;
}


/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}




}




@media (min-width: 1024px) {

/* ---- Navigation ---- */

.main-header {
	text-align: left;
}

.main-header h1 {
	display: inline-block;
}

.main-nav {
	padding-bottom: 0;
}

.name {
	padding-left: 2em;
	padding-bottom: 2em;
}

ul.main-nav {
	display: inline;
	float: right;
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-right: 2em;
}

ul.main-nav li {
	display: inline;
	padding: 2em;


}

/* ---- Page Elements ---- */

.mini-footer span {
	padding-top: 1.25em;
	padding-bottom: 1.5em;
}

.intro p {
	width: 90%;
}

.profile {
	width: 90%;
}




/* ---- Layout Containers ---- */

.left {
	float: none;
	padding-right: 0;
}

.right {
	float: none;
	padding-left: 0;
}

.col {
	width: 33%;
	float: left;
	padding: 1em;

}

.col-2 {
	width: 50%;
	float: left;
	padding: 1em;
}

.col-2 img {
	width: 256px;
	height: 256px;
	display: block;
	margin: 0 auto;
}









.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

}



