// Descriptive color variables


$White              : #FFF;
$Black-Russian      : #00001C;
$Tundora            : #4A4A4A;
$Alabaster          : #FAFAFA;
$Gray               : #808080;
$Armadillo          : #484238;
$Sandy-Brown        : #F39355;







// Functional color variables

$link-hover          : $Sandy-Brown;




// Media query breakpoints

$brk-med            : '(min-width: 768px)';
$brk-lrg            : '(min-width: 1024px)';
